{% extends "gestaoAluguel/dashboard/index.html" %}
{% include "gestaoAluguel/partials/_header.html" %}
{% load crispy_forms_tags %}

{% block conteudo %}

    <body>

        <div class="container bg-primary text-light shadow-md p-5 form-layout">

            <h3> Registre um Inquilino. </h3>

            <h5> Comece a gerenciar seus clientes agora mesmo!! </h5>

            <hr>
            <br>

            <form method="POST" autocomplete="off">

                {% csrf_token %}


                {{form.nome|as_crispy_field}}
                <br>

                {{form.cpf|as_crispy_field}}
                <br>

                {{form.rg|as_crispy_field}}
                <br>
                
                {{form.profissao|as_crispy_field}}
                <br>
        
                {{form.telefone|as_crispy_field}}
                <br>

                {{form.identificador_casa|as_crispy_field}}
                <br>


                <button type="submit" class="btn btn-light w-100 btn-block p-2"> Registrar &nbsp; <i class="fa fa-user" aria-hidden="true"></i> </button>


            </form>

            <br>



        </div>

        <br>

    </body>


{% endblock %}